<!--Navbar-->
<mdb-navbar SideClass="custom-padding-navbar navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="/">Cătălin</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [ngClass]="{'active': currentActive === 'home'}">
                <a class="nav-link waves-light" mdbWavesEffect (click)="onClickHome()">
                    <mdb-icon fas icon="home"></mdb-icon>Home
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': currentActive === 'about'}">
                <a class="nav-link waves-light" mdbWavesEffect (click)="onClickAbout()">
                    <mdb-icon fas icon="info-circle"></mdb-icon>About
                </a>
            </li>
            <!-- <li class="nav-item" [ngClass]="{'active': currentActive === 'contact'}">
                <a class="nav-link waves-light" mdbWavesEffect (click)="onClickContact()">
                    <mdb-icon fas icon="user-circle"></mdb-icon>Contact
                </a>
            </li> -->

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->