<div class="projects-screen">
    <!-- News jumbotron -->
    <div id="projectsElement" class="text-center hoverable p-1">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3 image-row">
                <!-- Featured image -->
                <img src="../../../assets/projects-icon.png" class="img-fluid" alt="Projects">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3 projects-info">
                <h4 class="h4 mb-4">Projects</h4>

                <p>
                    Most of my projects can be found on my <a href="https://github.com/PirvuCatalin" target="_blank">github</a> profile.
                    <br><br>
                    Sometime I might update this site to show them here, but for now I'll only tell you 
                    about <a href="https://github.com/PirvuCatalin/tsac" target="_blank">this</a> interesting project which I've built for showcasing 
                    software testing for a master course at the university.
                    <br>
                    It uses a simple Spring Boot app which exposes some endpoints. The main thing with the project is the GitHub Actions integration 
                    for which you can see a sample run <a href="https://github.com/PirvuCatalin/tsac/actions/runs/2404696089" target="_blank">here</a>. 
                    It uses Cucumber testing with the Gherkin syntax which I've found to be one of the best of to implement unit tests in Java (and also 
                    make anyone understand what you're doing there as it uses the natural language for BDD - Behaviour Driven Development).
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- News jumbotron -->
</div>