<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-3">
                <div class="mb-5 flex-center">


                    <!-- Twitter -->
                    <!-- <a class="tw-ic">
                        <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a> -->
                    <!-- Github -->
                    <a class="git-ic" href="https://github.com/PirvuCatalin" target="_blank">
                        <mdb-icon fab fab icon="github" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" href="https://www.linkedin.com/in/catalin-pirvu/" target="_blank">
                        <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!-- Facebook -->
                    <a class="fb-ic" href="https://www.facebook.com/Catalin.rofl/" target="_blank">
                        <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/cataliin.insta/" target="_blank">
                        <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3 last-footer-logo"></mdb-icon>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© {{currentYear}}
        <a href="/"> Cătălin Pîrvu</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->